<div class="login-page">
    <div class="container">
        <div class="login-box card navbar-shadow">
            <div class="card-header text-center">
                <a href="#"><img class="logo mb-3 mt-3" src="/assets/images/pegasi.png" /></a>
                <h4 class="card-title font-bold font-18 mb-1">Iniciar sesión</h4>
                <p class="card-subtitle font-16 text-black-50">Introduzca sus datos y acceda a su cuenta</p>
            </div>
            <div  class="card-body">
                <form novalidate="novalidate" class>
                    <div role="group" class="form-group">
                        <label for="email" class="d-block font-14 form-label text-left text-uppercase letter-spacing-1">Tu correo electrónico:</label>
                        <div role="group" class="input-group input-group-merge">
                            <input id="email" type="email" placeholder="Tu correo electrónico" class="form-control form-control-prepended" style="color: #000" />
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="bi-envelope"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div role="group" class="form-group mb-4">
                        <label for="password" class="d-block font-14 form-label text-left text-uppercase letter-spacing-1">Tu contraseña:</label>
                        <div role="group" class="input-group input-group-merge form-control-prepended">
                            <input id="password" type="password" placeholder="Tu contraseña" required="required" class="form-control form-control-prepended" />
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="bi-key"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="form-group mb-0">
                        <!-- <p style="color: red">{{ error }}</p> -->
                    </div>
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary">Iniciar sesión</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="text-center text-black-50">
                    <a style="cursor: pointer; color: blue" (click)="signin()">¿No tienes cuenta?</a>
                </div>
            </div>
        </div>
    </div>
</div>