/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: 100;
    src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: 100;
    src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: 100;
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

.font-bold {
    font-family: 'Poppins-Bold';
}
  
.font-semibold {
    font-family: 'Poppins-SemiBold';
}
  
.font-regular {
    font-family: 'Poppins-Regular';
}

.font-12 {
    font-size: 12px;
    line-height: 18px;
}
  
.font-14 {
    font-size: 14px;
    line-height: 18px;
}

.font-32 {
    font-size: 32px;
    line-height: 32px;
}
  
.font-40 {
    font-size: 40px;
    line-height: 40px;
}

.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F7FA;
}

.login-box {
    box-shadow: 0px 6px 6px -3px rgba(39, 44, 51, 0.1), 0px 10px 14px 1px rgba(39, 44, 51, 0.04), 0px 4px 18px 3px rgba(39, 44, 51, 0.02);
    border-radius: 8px;
    max-width: 450px;
    margin: 0 auto;
}

.login-page .logo {
    height: 50px;
}

.form-label {
    color: #303956;
    font-family: 'Poppins-SemiBold';
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 6px;
}

.page-title {
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    padding-bottom: 8px;
    margin-bottom: 38px;
}

.page-title h4 {
    font-size: 25px;
    margin-bottom: 10px;
    letter-spacing: 0.4px;
}
  
.page-title p {
    color: rgba(39, 44, 51, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: "Poppins-SemiBold";
}

.main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.section-tile {
    position: relative;
    margin-bottom: 20px;
  }
  
.section-tile h2 {
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Poppins-SemiBold";
    background: #F5F7FA;
    display: inline-flex;
    padding-right: 10px;
}

.section-tile h2 .b-icon.bi {
    font-size: 22px;
    position: relative;
    top: 3px;
    margin: 0 8px 0 18px;
}
  
.card .section-tile h2 {
    background: #F7F7F7;
    position: relative;
    z-index: 2;
    margin-bottom: 4px;
}
  
.card .section-tile::before {
    content: none;
}
  
.section-tile::before {
    content: "";
    height: 1px;
    width: 100%;
    top: 50%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}